<nav class="navbar">
	<div id="presentation">
		<img alt="logo" src="{{companyLogo}}">
		<h1>{{companyName}}</h1>
	</div>

	<input type="checkbox" id="menu-toggle" class="menu-toggle" (change)="toggleOptionsMenu()" />
	<label for="menu-toggle" class="menu-icon">&#9776;</label>
	<ul class="nav-links">
		<li><a href="#about">{{sectionsTitle.about}}</a></li>
		<li><a href="#solutions">{{sectionsTitle.solutions}}</a></li>
		<li><a href="#portfolio">{{sectionsTitle.portfolio}}</a></li>
		<li><a href="#contact">{{sectionsTitle.contact}}</a></li>
	</ul>
</nav>