#presentation {
	background-color: var(--dark-color);
	height: 22vw;
	width: 100vw;
	max-height: 95px;
	top: 0;
	left: 0;
	display: flex;
}


#profile-picture {
	border-radius: 50%;
	height: 15vw;
	width: 15vw;
	max-height: 75px;
	max-width: 75px;
	margin: 10px;
}


#name-title {
	font-size: 14pt;
	margin: 1vw;
	white-space: nowrap;
}

#name-title h1 {
	text-shadow: 0 0 15px #734cc2b7;
}


#navbar-options {
	margin: 1px;
	padding: 20px 30px 20px 20px;
	display: flex;
	width: 100%;
	justify-content: right;
	align-items: center;
}

#navbar-options ul {
	display: flex;
	justify-content: space-around;
}

#navbar-options li {
	float: left;
	width: 110px;
}

#navbar-options li a {
	display: block;
	padding: 10px;
	margin: 1px;
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	border-radius: 10px;
}

#navbar-options li a:hover {
	color: var(--secondary-color);
	background-color: #fdf7f7b6;
	box-shadow: 0 0 10px var(--light-color);
	transition: all 0.8s;
}


#menu-button {
	display: none;
}

#menu-icon {
	height: 10vw;
	width: 10vw;
	max-height: 40px;
	max-width: 40px;
}

#menu-button label {
	right: -1px;
	padding: 10px;
	position: absolute;
	z-index: 1;
}

#menu-options nav {
	background-color: var(--dark-color);
	height: 100vh;
	width: 50vw;
	max-width: 350px;
	position: absolute;
	right: -50vw;
}

#menu-options nav a {
	display: block;
	padding: 20px 5px;
	text-align: center;
	color: #ffffff;
	font-weight: bolder;
}

#menu-options nav a:hover {
	background-color: var(--sky-color);
	transition: all 0.5s;
}

#menu-options ul {
	background-color: var(--dark-color);
	position: absolute;
	width: 100%;
	top: 50px;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked~#menu-options nav {
	transform: translateX(-50vw);
	transition: all 0.5s;
}