@import url("./footer.css");


@media (max-width: 800px) {
	#about {
		text-align: center;
	}
}


#page-content a {
	color: #ffffff;
}


#basic-infos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#about {
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
	max-width: 600px;
	justify-content: center;
	align-items: center;
}

#about p {
	text-indent: 30px;
}


#contact {
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#contact li {
	float: left;
}

#contact a {
	padding: 50px 20px 5px;
	display: block;
}

#contact #profile {
	background-image: url("https://github.com/AlvaroDavi5.png");
}

#contact #github {
	background-image: url("../../../../public/assets/github-icon-white.png");
	/*
	? https://cdn.icon-icons.com/icons2/2429/PNG/512/github_logo_icon_147285.png
	? https://cdn-icons-png.flaticon.com/512/733/733553.png
	*/
}

#contact #linkedin {
	background-image: url("https://cdn-icons-png.flaticon.com/512/174/174857.png");
}

#contact #email {
	background-image: url("https://cdn-icons-png.flaticon.com/512/281/281769.png");
}

#contact #cv {
	background-image: url("https://cdn-icons-png.flaticon.com/512/1672/1672211.png");
}

.contacts {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.contacts li {
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: 50% 5px;
}