<header>
	<responsive-navbar></responsive-navbar>
</header>

<main id="homepage">
	<div id="page-content">
		<div id="basic-infos">
			<div id="about">
				<h2>Transformando ideias em soluções tecnológicas inovadoras!</h2>
				<p>
					Conte conosco para levar a transformação digital até sua empresa. Nossa equipe de especialistas está pronta
					para criar soluções personalizadas que atendam às suas necessidades específicas, desde o desenvolvimento de
					software até a consultoria em tecnologia.
				</p>
				<p>
					Não perca tempo e entre em contato conosco hoje mesmo!
				</p>
				<br>
			</div>

			<div id="contact">
				<h4>Contact</h4>
				<ul class="contacts">
					<li id="profile"><a href="{{iconsHref.linkedin}}">Profile Picture</a></li>
					<li id="linkedin"><a href="{{iconsHref.linkedin}}">LinkedIn</a></li>
					<li id="github"><a href="{{iconsHref.github}}">GitHub</a></li>
					<li id="email"><a href="{{iconsHref.email}}">e-Mail</a></li>
					<li id="cv"><a href="{{iconsHref.curriculum}}">Curriculum</a></li>
				</ul>
				<br>
			</div>
		</div>

		<login-submit-form />
		<confirm-button />
		<cancel-button />
	</div>
</main>

<footer>
	<p>
		by Alvaro Davi &#169; 2025
	</p>
</footer>